@use "@fontsource-variable/playpen-sans-arabic";
@use "@fontsource/mochiy-pop-one";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

main {
  flex: 1;
}

:root {
  color-scheme: light;
  --primary-color: rgb(84, 102, 98);
  --secondary-color: rgb(255, 237, 241);
  --tertiary-color: rgb(255, 255, 255);
  --font-title: "Mochiy Pop One";
  --font-text: "Playpen Sans Arabic";
  --base-size: 1rem;
  --scale: 1.25;
  --p: calc(var(--base-size) * 1.05);
  --h5: calc(var(--base-size) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h1: calc(var(--h2) * var(--scale));
  --small-text: calc(var(--base-size) / var(--scale));
}

h1 {
  font-family: var(--font-title);
  font-weight: 900;
}

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-xl: 1280px;
$breakpoint-desktop-xxl: 1440px;

@each $i in (1, 2, 3, 4, 5) {
  h#{$i} {
    font-size: var(--h#{$i});
    color: var(--primary-color);
  }
}

p {
  margin: 0.5rem 0;
  font-size: var(--p);
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 0.4s ease-in-out;
  &:hover {
    color: var(--tertiary-color);
    transition: all 0.4s ease-in-out;
  }
}

@media (width <= 960px) {
  :root {
    --scale: 1.18;
  }

  @for $i from 1 through 4 {
    h#{$i} {
      font-size: var(--h#{$i + 1});
    }
  }
}
