---
import Layout from "../layouts/Layout.astro";
import PageHero from "../components/global/PageHero.astro";
import { Image } from "astro:assets";
import Soledad from "../assets/images/Soledad.jpg";
import AboutPhoto from "../assets/images/Apropos.jpg";
---

<Layout
  title="Soleana | Derrière le soin"
  description="Parce que je suis profondément convaincue que chacun mérite une parenthèse enchantée, un moment privilégié pour soi. C'est de cette conviction qu'est né L'Instant Soléana."
>
  <PageHero
    imageDesktop={AboutPhoto}
    imageMobile={Soledad}
    altText="Photo section derrière le soin"
    title="Derrière le soin"
    subtitle=""
  />
  <div class="page-content">
    <h1>Pourquoi Soleana ?</h1>
    <p>
      Parce que je suis profondément convaincue que chacun mérite une parenthèse
      enchantée, un moment privilégié pour soi. C'est de cette conviction qu'est
      né L'Instant Soléana.
    </p>
    <p>
      Mon ambition est d'aller au-delà du simple soin. Je souhaite vous offrir
      une véritable expérience : un luxe authentique et profondément humain, une
      invitation à ralentir, à vous reconnecter pleinement à votre corps, à
      votre souffle, et à retrouver une paix intérieure durable.
    </p>
    <p>
      Guidée par ma passion pour le toucher, ma vision de la beauté au naturel
      et mon profond respect pour le rythme unique de chacun, je me déplace chez
      vous pour créer ces instants suspendus. Des moments où tout s'apaise, où
      le bien-être se révèle et où votre équilibre se réaligne.
    </p>
    <p>
      Ce que je vous propose, ce n'est pas seulement un massage ou un soin.
      C'est la création d'un espace intime et lumineux de recentrage et de
      douceur, directement dans le confort et la sérénité de votre foyer.
    </p>

    <h1>L'expertise Soleana</h1>
    <p>
      Diplômée en esthétique, je m'engage à mettre à votre service une expertise
      et une rigueur professionnelle affûtées par de nombreuses années de
      formation et d'expérience. Chaque soin que je conçois est l'expression de
      ce savoir-faire, alliant la précision des protocoles esthétiques à une
      infinie douceur et à une attention de chaque instant.
    </p>

    <p>
      Au-delà de la technique, c'est une passion profonde pour la beauté au
      naturel et le bien-être global qui m'anime. Mon approche va bien au-delà
      d'un simple soin : elle vise à créer des rituels sur mesure, conçus pour
      sublimer votre éclat tout en vous offrant un moment de profonde détente.
      Il s'agit d'une invitation à révéler votre beauté intérieure et
      extérieure, en toute harmonie.
    </p>
  </div>
  <div class="about-photo">
    <Image src={Soledad} alt="Photo de la section A-propos" />
  </div>

  <style lang="scss">
    @use "../styles/global.scss";

    .page-content {
      margin: 0 auto;
      padding-bottom: 2rem;
      h1 {
        text-align: center;
        padding-top: 2rem;
        font-style: italic;
      }
      p {
        text-align: justify;
        line-height: 1.75rem;
        padding: 1rem 2rem 0rem 2rem;
        color: var(--primary-color);
      }
    }

    .about-photo {
      width: 90vw;
      max-width: 350px;
      margin: 2rem auto 4rem;
      img {
        width: 100%;
        height: auto;
        border-radius: 20px;
      }
    }

    @media (width >= global.$breakpoint-desktop) {
      .page-content {
        max-width: 1000px;
      }
    }
  </style>
</Layout>
