---
import Layout from "../layouts/Layout.astro";
import PageHero from "../components/global/PageHero.astro";
import ContactImage from "../assets/images/Contact.jpg";
---

<Layout title="Soleana | Contact">
  <PageHero
    imageDesktop={ContactImage}
    imageMobile={ContactImage}
    altText="Image de la section Contact"
    title="Contact"
  />

  <main class="contact-content">
    <section class="contact-info">
      <h1>Par Téléphone</h1>
      <p>
        Le moyen le plus simple et le plus rapide pour obtenir une réponse ou
        fixer un rendez-vous.
      </p>
      <a href="tel:+33601020304" class="phone-number">06.25.48.78.61</a>
    </section>

    <section class="form-placeholder">
      <h1>Par Message</h1>
      <p>
        Un formulaire de contact sera bientôt disponible ici pour me laisser un
        message écrit à tout moment.
      </p>
    </section>
  </main>
</Layout>

<style lang="scss">
  .contact-content {
    width: 90%;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
  }

  .phone-number {
    color: var(--primary-color);
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s ease;
  }

  .phone-number:hover {
    transform: scale(1.05);
  }
</style>
