---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Bienvenue from "../assets/images/Bienvenue.jpg";
import BienvenueMobile from "../assets/images/Bienvenue-Mobile.jpg";
import PrestationsCards from "../components/PrestationsCards.astro";
import MasseuseCard from "../components/MasseuseCard.astro";
---

<Layout>
  <div class="head-background">
    <Image src={Bienvenue} alt="Photo d'accueil" class="head-photo desktop" />
    <Image
      src={BienvenueMobile}
      alt="Photo d'accueil"
      class="head-photo mobile"
    />
  </div>
  <div class="head-text">
    <h1>L'INSTANT SOLEANA</h1>
    <h2>S'invite chez vous</h2>
  </div>
  <main class="page-content">
    <PrestationsCards />
    <MasseuseCard />
  </main>
</Layout>

<style lang="scss">
  @use "../styles/global.scss";

  .page-content {
    margin-top: 95vh;
  }

  .head-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-color: var(--secondary-color);
  }

  .head-background::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--secondary-color);
    opacity: 0.6;
  }

  .head-text {
    max-width: 100vw;
    position: absolute;
    top: 25%;
    left: 7%;
    h1 {
      font-size: 2.5rem;
      max-width: 70%;
    }
    h2 {
      font-size: 1.8rem;
    }
  }

  .head-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    object-position: top;
    object-fit: cover;
  }

  .desktop {
    display: none;
  }

  @media (width >= global.$breakpoint-tablet) {
    .desktop {
      display: block;
    }

    .mobile {
      display: none;
    }

    .head-text {
      h1 {
        font-size: 4rem;
      }
      h2 {
        font-size: 3rem;
      }
    }
  }

  @media (width >= global.$breakpoint-desktop) {
    .head-text {
      h1 {
        font-size: 4.5rem;
      }
      h2 {
        font-size: 3.5rem;
      }
    }
  }

  @media (width >= global.$breakpoint-desktop-xxl) {
    .head-text {
      h1 {
        font-size: 6rem;
      }
      h2 {
        font-size: 4rem;
      }
    }
  }
</style>
