---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Bienvenue from "../assets/images/Bienvenue.jpg";
import BienvenueMobile from "../assets/images/Bienvenue-Mobile.jpg";
import PrestationsCards from "../components/PrestationsCards.astro";
import MasseuseCard from "../components/MasseuseCard.astro";
import Button from "../components/ui/Button.astro";
import PageHero from "../components/global/PageHero.astro";
---

<Layout
  title="L'Instant Soleana | Près de Perpignan"
  description="Découvrez les prestations de bien-être à domicile de l'Instant Soleana, pour un moment de détente et de sérénité qui s'invite chez vous, près de Perpignan."
>
  <section class="page-content">
    <PageHero
      imageDesktop={Bienvenue}
      imageMobile={BienvenueMobile}
      altText="Photo d'accueil Soleana"
      title="L'INSTANT SOLEANA"
      subtitle="S'invite chez vous"
    />
    <PrestationsCards />
    <MasseuseCard />
    <div class="contact-section">
      <div class="contact-card">
        <h2>Offrez-vous une parenthèse de bien-être</h2>
        <p>
          Contactez-moi pour prévoir un rendez-vous, ou pour simplement poser
          des questions, vous renseigner, nous rencontrer.
        </p>
        <Button text="Me contacter" href="/contact" variant="primary" />
      </div>
      <div class="contact-card">
        <h2>Vous êtes professionnel ? Collaborons</h2>
        <p>
          Je peux proposer mes prestations dans vos hôtels, centres de
          bien-être, etc... Contactez-moi afin que nous puissions en discuter.
        </p>
        <Button text="Me contacter" href="/contact" variant="primary" />
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  @use "../styles/global.scss";

  .page-content {
    padding-bottom: 2rem;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    margin: 2rem auto;
    text-align: center;
  }

  .contact-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--primary-color);
    padding: 1rem;
    border-radius: 15px;

    h2 {
      color: var(--primary-color);
      margin-bottom: 1rem;
    }
  }

  @media (width >= global.$breakpoint-desktop) {
    .head-text {
      h1 {
        font-size: 4.5rem;
      }
      h2 {
        font-size: 3.5rem;
      }
    }

    .contact-section {
      flex-direction: row;
      justify-content: space-around;
    }
  }
</style>
