---
import PageHero from "../components/global/PageHero.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import Massage from "../assets/images/pages/Massages.jpg";
import PriceTable from "../components/prestations/PriceTable.astro";
import { massagePrices } from "../data/massagePrices";
import ContactCard from "../components/global/ContactCard.astro";
import MassageIcon from "../assets/icons/massageIcon.svg";
---

<Layout>
  <PageHero
    imageDesktop={Massage}
    imageMobile={Massage}
    altText="Photo d'accueil de la section massages"
    title="Massages"
    subtitle=""
  />
  <div class="page-content">
    <h1>"Offrez-vous une parenthèse de bien-être."</h1>
    <span id="icon"><Image src={MassageIcon} alt="Icône de massage" /></span>
    <PriceTable title="Les tarifs Soleana" , items={massagePrices} />
  </div>
  <ContactCard />
</Layout>

<style lang="scss">
  .page-content {
    margin-top: 95vh;
    padding-bottom: 2rem;
    h1 {
      text-align: center;
      padding-top: 2rem;
      font-style: italic;
    }
  }

  #icon {
    display: block;
    text-align: center;
    padding: 2rem 0;
  }
</style>
