---
import Layout from "../../layouts/Layout.astro";
import PageHero from "../../components/global/PageHero.astro";
import { Image } from "astro:assets";
import PriceTable from "../../components/prestations/PriceTable.astro";
import ContactCard from "../../components/global/ContactCard.astro";
import SoinsBienEtre from "../../assets/images/pages/Soins.jpg";
import SoinsIcon from "../../assets/icons/handsIcon.svg";
import { soinsPeauPrices } from "../../data/soinsPrices.ts";
---

<Layout>
  <PageHero
    imageDesktop={SoinsBienEtre}
    imageMobile={SoinsBienEtre}
    altText="Photo d'accueil de la section soins"
    title="Soins Bien-Être"
    subtitle=""
  />
  <div class="page-content">
    <h1>"Soyez doux avec vous-même."</h1>
    <span id="icon"><Image src={SoinsIcon} alt="Icône de massage" /></span>
    <PriceTable title="Soins de la peau" , items={soinsPeauPrices} />
  </div>
  <ContactCard />
</Layout>

<style lang="scss">
  .page-content {
    margin-top: 95vh;
    padding-bottom: 2rem;
    h1 {
      text-align: center;
      padding-top: 2rem;
      font-style: italic;
    }
  }

  #icon {
    display: block;
    text-align: center;
    padding: 2rem 0;
  }
</style>
