---
import Navbar from "../components/global/Navbar.astro";
import Footer from "../components/global/Footer.astro";
import { ClientRouter } from "astro:transitions";
import { businessInfo } from "../content/siteConfig";
import SEO, { type Props as SEOProps } from "../components/global/SEO.astro";

export interface Props extends SEOProps {}
---

<!doctype html>
<html lang="fr">
  <head>
    <SEO {...Astro.props} />

    <script
      type="application/ld+json"
      set:html={JSON.stringify(businessInfo)}
    />

    <ClientRouter />
  </head>
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global lang="scss">
  @use "../styles/global.scss";

  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }
</style>
