<footer class="footer-container">
  <div class="footer-content">
    <div class="primary-content">
      <h1>L'Instant Soleana</h1>
      <h5>S'invite chez vous.</h5>
      <nav class="icon-links">
        <!-- <a href="/">Instagram</a> -->
      </nav>
    </div>
    <div class="secondary-content">
      <div class="footer-column">
        <h3>Prestations</h3>
        <nav class="footer-links">
          <a href="/prestations/massages">Massages</a>
          <a href="/prestations/soins">Soins</a>
          <a href="/prestations/epilations">Epilation</a>
          <a href="/prestations/maquillages">Maquillage</a>
          <a href="/prestations/structures">En Structure</a>
        </nav>
      </div>
      <div class="footer-column">
        <h3>Plan du site</h3>
        <nav class="footer-links">
          <a href="/apropos">Derrière le soin</a>
          <a href="/contact">Contact</a>
          <a href="/">Mentions légales</a>
          <a href="/">Politique de confidentialité</a>
        </nav>
      </div>
    </div>
  </div>

  <style lang="scss">
    @use "../../styles/global.scss";

    .footer-container {
      width: 100%;
      background-blend-mode: overlay;
      background-image: url("../../assets/footer-background.svg");
      background-position: top;
      background-size: cover;
      color: var(--primary-color);
      padding: 2rem 0;
    }

    .footer-content {
      width: 85%;
      margin: 0 auto;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
    }

    .primary-content {
      display: flex;
      flex-direction: column;
      h1 {
        margin: 0 0 1.5rem 0;
      }
      h5 {
        margin: 0.75rem 0;
      }
    }

    .secondary-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .footer-links {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      a {
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;

        &:hover {
          color: var(--tertiary-color);
        }
      }
    }

    @media (width >= global.$breakpoint-desktop-xl) {
      .footer-container {
        padding: 5rem 0;
      }
      .footer-content {
        grid-template-columns: 60% 40%;
      }
    }
  </style>
</footer>
